@charset "utf-08";


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}


body#index{
    background: url(imagens/ilha.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}



nav{
    background-color:rgba(0, 0, 0, 0.842);
    text-align: center;
    padding: 10px;
    
}


nav > a{
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 221, 30);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    margin: 10px;
    
}


nav > a:hover{
    background-color:rgb(160, 3, 3);
    
}


header > h1{
    font-family: 'Michroma', sans-serif;
    padding: 10px;
    margin-top: 12px;

}


main > h2{
    margin-top: 10px;
    font-family: 'Michroma', sans-serif;
    color: rgb(241, 206, 5);
    margin: 10px;
    padding: 5px;
}


main> p{
    margin-top: 20px;
    margin: 10px;
    padding: 5px;
}


strong{
    color: red;
}


#categorias2{
    border: 0px;
    width: 100%;
}


#categorias{
    width: 20%;
    vertical-align: top;
    
}


.navcate{
    margin: 2px;
    padding: 8px;
    font-size: 1.2em;
    margin-top: 15px;
}


#produtos{
    width: 20% ;
    text-align: center;
    vertical-align: bottom;
}


.produtos{
    width: 250px;
}


#endereco{
    margin-top: 25px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    border: 1px solid black;
}


#faleconosco{
    padding: 15px;
    margin: 20px;
}


td > p{
    font-size: 1.5em;
    color: rgb(8, 8, 0);
}


s{
    color: red;
    font-size: 1.0em;
}


hr{
    color: black;
}


fieldset{
    width: 900px;
    margin-top: 10px;
    color: rgb(238, 58, 13);
    padding: 10px;
    
}


footer{

    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;           
    background-color: rgba(0, 0, 0, 0.425);
    color:rgb(255, 221, 30) ;
}


footer > img{
    height: 70px;
}